.footer_img{
    width: 40%;
    margin-left: 28%;
}

.col_footer{
    text-align: center;
    --width: 25%;
}

.activate-item{
    border-left: 8px solid var(--ion-color-primary);
    background: url('../../assets/images/icon_my_products_green.svg') no-repeat;
}