.section_login{
    --background: url('../../assets/images/bkg.png') 0 0/100% 100% no-repeat;;
}

ion-img{
    width: 50%;
}

ion-input{
    --placeholder-color: var(--ion-color-holder);
}

ion-item:not(.item-label) .sc-ion-input-md-h {
    --padding-start: 3%;
    font-size: var(--ion-size-text-input);
    top: 15%;
}

ion-item::content{
    --border-radius: 10px;
    margin-bottom: 10%;
    --border-style: solid;
    --border-width: 2px;
}

ion-row::content{
    margin-bottom: 20%;
}

ion-button{
    --border-radius: 10px;
    font-size: var(--ion-size-text-button);
}

form{
    width: 80%;
}

ion-grid{
    position: relative;
    top: 15%;
}

.item_toggle{
    --background: none;
    --border-style: none;
    font-size: 1.2rem;
}
