<ion-content class="section_login">
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-img src="../../assets/images/logo.png"></ion-img>            
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" novalidate>
                <ion-item>
                    <ion-icon src="../../assets/images/icon_user.svg"></ion-icon><ion-input type="text"  placeholder="Documento de Identidad" formControlName="userId"></ion-input>
                </ion-item>
                <div class="validation-error">
                    <ng-container *ngFor="let validation of validation_message.userId">
                        <div *ngIf="loginForm.get('userId').hasError(validation.type) && loginForm.get('userId').dirty">
                            {{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-item>
                    <ion-icon src="../../assets/images/icon_password.svg"></ion-icon><ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
                </ion-item>
                <div class="validation-error">
                    <ng-container *ngFor="let validation of validation_message.password">
                        <div *ngIf="loginForm.get('password').hasError(validation.type) && loginForm.get('password').dirty">
                            {{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-item class="item_toggle">
                    <ion-label>Recuerda mi usuario</ion-label>
                    <ion-toggle slot="start" color="primary" formControlName="remeber" checked = "false"></ion-toggle>
                </ion-item>
                <ion-button expand="full" shape="round" type="submit">Iniciar Sesión</ion-button>
            </form>
        </ion-row>        
    </ion-grid>
</ion-content>
