<ion-header>
  <ion-toolbar>
    <ion-title [class]="class">{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="main_content">
  <ion-grid >
    <ion-row>
      <ion-card-title color="primary" *ngIf="id === 1">Cuentas ({{listAccounts.length}})</ion-card-title>
      <ion-card *ngFor="let accounts of listAccounts" class="card_cuentas">
        <ion-card-content [routerLink]="['../producs',accounts.number,accounts.productType]" [queryParams]="accounts">
          <ion-grid>
            <ion-row class="grid_row_one">           
              <ion-img src="../../assets/images/icon_account_gray.svg"></ion-img>
              <ion-text class="tite_card">{{accounts.alias}} - {{accounts.number|lengthPipe:'4'}}</ion-text>
            </ion-row>
            <ion-row>
              <ion-text>RD <b>{{accounts.availableAmount|currency}}</b></ion-text>
            </ion-row>
            <ion-row>           
              <ion-text class="tex_min">Balance disponible</ion-text>
            </ion-row>                         
          </ion-grid>  
        </ion-card-content>
      </ion-card>         
    </ion-row>      
    <ion-row>
      <ion-card-title color="secondary" *ngIf="id === 1">Tarjetas ({{listCards.length}})</ion-card-title>
      <ion-card *ngFor="let cards of listCards" class="card_tarjetas">
        <ion-card-content [routerLink]="['../producs',cards.number,cards.productType]" [queryParams]="cards">
          <ion-grid>
            <ion-row class="grid_row_one">           
              <ion-img src="../../assets/images/icon_credit_card_gray.svg"></ion-img>
              <ion-text class="tite_card">{{cards.alias}} - {{cards.number|lengthPipe:'4'}}</ion-text>
            </ion-row>
            <ion-row>
              <ion-text>RD <b>{{cards.availableAmountRD|currency}}</b></ion-text>
            </ion-row>
            <ion-row *ngIf="cards.availableAmountUS > 0">
              <ion-text>US <b>{{cards.availableAmountUS|currency}}</b></ion-text>
            </ion-row>              
            <ion-row>           
              <ion-text class="tex_min">Balance disponible</ion-text>
            </ion-row>                         
          </ion-grid>  
        </ion-card-content>
      </ion-card>         
    </ion-row>     
</ion-grid>
</ion-content>